:root {
    // PRIMARY COLORS
    --color-soft-red: hsl(10, 79%, 65%);
    --color-cyan: hsl(186, 34%, 60%);

    // SECONDARY COLORS
    --color-dark-brown: hsl(25, 47%, 15%);
    --color-medium-brown: hsl(28, 10%, 53%);
    --color-cream: hsl(27, 66%, 92%);
    --color-very-pale-orange: hsl(33, 100%, 98%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
textarea,
button,
select {
    font: inherit;
}

// MOBILE code

body {
    width: 100%;
    margin: 0;
    min-height: 100svh;
    background-color: var(--color-cream);

    font-family: "DM Sans";
}

.main {
    height: 100svh;
}

// *******
// BALANCE

.balance {
    background: var(--color-soft-red);
}
.total {
    background: var(--color-very-pale-orange);
}
.balance-value {
    color: var(--color-cream);
}
.logo {
    width: 20%;
}
.description {
    color: var(--color-medium-brown);
}

// ******
// CHART

.day {
    color: var(--color-medium-brown);
    font-size: 0.75em;
    text-align: center;
    margin-top: 1rem;
}
.chart-bar {
    background: var(--color-soft-red);
    width: 2em;
    // height: 3em;
}
// .chart-bar.tue {
//     height: 6em;
// }
// .chart-bar.wed {
//     height: 9em;
// }
// .chart-bar.thu {
//     height: 5em;
// }
// .chart-bar.fri {
//     height: 4em;
// }
// .chart-bar.sat {
//     height: 7.5em;
// }
// .chart-bar.sun {
//     height: 4.5em;
// }

/* Atribution */
.attribution {
    position: absolute;
    bottom: 5em;
    left: 3em;
    right: 3em;
    font-size: 11px;
    text-align: center;

    & a {
        color: hsl(228, 45%, 44%);
    }
}

.cyan {
    background: var(--color-cyan);
}
